.offer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 176px;
    background-color: #e2e2e2;
    padding: 0 10vw;
}

.offer h1 {
    font-size: clamp(0.9375rem, 0.7143rem + 1.1161vw, 2.5rem);
    color: #494949;
    font-weight: 700;
    font-family: "Montserrat";
    padding-right: 5vw;
}

.offer button {
    padding: 10px 50px;
    border-radius: 27px;
    filter: drop-shadow(-3.508px 11.476px 20px rgba(0, 1, 1, 0.2));
    background-color: #0087be;
    font-size: clamp(0.625rem, 0.4911rem + 0.6696vw, 1.5625rem);
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    text-align: center;
    border: none;
}